[submodule "todo-list"]
	path = todo-list
	url = ../todo-list
[submodule "ciel"]
	path = ciel
	url = ../ciel
[submodule "fluid-simulator"]
	path = fluid-simulator
	url = ../fluid-simulator
[submodule "mathemaster"]
	path = mathemaster
	url = ../mathemaster
[submodule "js-curses"]
	path = js-curses
	url = ../js-curses
